@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --cool-tone: #a7c6d9;
  --back-ground: #3a8c8c64;
  --green-tone: #3a8c8cd0;
  --lt-orange: #f27141;
  --orange: #d90404;
  --brown: #400101;
}

body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--back-ground);
}
/* === HEADER === */
header {
  padding: 2rem;
  background: var(--cool-tone);
}
header li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding: 0 1em;
  text-align: end;
}

/* === HOME === */
.home-wrapper {
  background-image: url(./assets/pictures/katie-treadway-EwE4tBYh3ms-unsplash.jpg);
  background-size: 100%;
  padding: 20em 20em;
  background-repeat: no-repeat;
  background-position: bottom center;
}
h2 {
  font-size: 4em;
  color: var(--orange);
}
.animals-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0 2rem;
}

.card {
  background-color: snow;
  box-shadow: 0 0 5px rgb(121, 121, 121);
  width: 250px;
  border-radius: 5px;

  margin: 1rem;
  text-transform: capitalize;
  filter: grayscale(60%);
  transition: all 0.5s;
}

.card:hover {
  background-color: snow;
  box-shadow: 0 0 30px rgb(121, 121, 121);
  border-radius: 5px;
  margin: 1rem;
  text-transform: capitalize;
  filter: grayscale(0%);
  cursor: pointer;
}
.card h2,
a {
  padding: 1rem;
}

.card img {
  max-width: 100%;
}
/* ==== ANIMAL LIST ==== */
input {
  width: 20%;
  height: 4em;
}
/* ==== ANIMAL SINGLE ==== */
.single-animal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.animal-image img {
  width: 50%;
  margin: 5%;
}
.animal-span {
  text-transform: uppercase;
}

/* ==== FOOTER ==== */
footer {
  background: var(--green-tone);

  text-align: center;
  height: 10%;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
}
footer h3 {
  font-size: 2em;
}
footer a:hover {
  cursor: pointer;
  color: var(--orange);
}
